html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    font-family: $font-family-sans-serif;
}

// Fixed Navbar
main>.container-fluid {
    padding: 70px 15px 0;
}

// Sticky footer
.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}