html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	font-family: $font-family-sans-serif;
}

// Fixed Navbar
main {
	background-color: $color_off_light;
}

main>.container-fluid {
	padding: 70px 15px 0;
}

// Sticky footer
.footer {
	background-color: $color_light;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

.section-container {
	margin-top: 5rem;
	margin-bottom: 6rem;
}
