@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*******************/
/* Color Variables */
/*******************/

// Custom Colors
$brand-google: #ea4335;
$brand-facebook: #3b5998;

$hot_pink: #FF65a5;
$brink_pink: #FF6A92;
$orange_pink: #FF7381;
$salmon: #FF7D72;
$hot_orange: #FF8965;
$bittersweet: #F7775D;

$azalea: #F7C6D2;
$cabaret: #CE3A77;

$mine_shaft: #555555;
$gallery: #efefef;
$white: #fff !default;

$font_dark: $mine_shaft;
$font_light: $white;
$font_primary: $hot_orange;
$font_secondary: $brink_pink;

$gradient_primary: $hot_pink,
$brink_pink,
$orange_pink,
$salmon,
$hot_orange;

$gradient_button: $orange_pink,
$hot_orange;

$gradient_navbar: $brink_pink,
$orange_pink,
$salmon;

$gradient_progress: $hot_pink,
$orange_pink,
$salmon;

$color_primary: $hot_orange;

// Bootstrap Color Overrides
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;

$blue: #6D68FD !default; //rename
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: $brink_pink !default;
$red: #FF315D !default; //rename
$orange: $hot_orange !default;
$yellow: #f6c23e !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;

// Set Contrast Threshold
$yiq-contrasted-threshold: 195 !default;

// Typography
$body-color: $gray-600 !default;

$font-family-sans-serif: "Montserrat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji' !default;

$font-weight-light: 300 !default;
// $font-weight-base: 400;
$headings-font-weight: 400 !default;

// Shadows
$box-shadow-sm: 0 0.125rem 0.25rem 0 rgba($gray-900, .2) !default;
$box-shadow: 0 0.15rem 1.75rem 0 rgba($gray-900, .15) !default;
// $box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;

// Borders Radius
$border-radius: 0.35rem !default;
$border-color: darken($gray-200, 2%);

// Spacing Variables
// Change below variable if the height of the navbar changes
$topbar-base-height: 4.375rem;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 14rem;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 6.5rem;

// Card
$card-cap-bg: $gray-100;
$card-border-color: $border-color;

// Adjust column spacing for symmetry
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;

// Transitions
$transition-collapse: height .15s ease !default;

// Dropdowns
$dropdown-font-size: 0.85rem;
$dropdown-border-color: $border-color;